@import url(./reset.css);

body {
    font-size: 40px;

}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 0.5em;
}

.letra {
    font-size: 1em;
}

p {
    font-size: 0.3em;
}


.titulo {
    font-size: 3rem;
}
.subTitulos {
    font-size: 1.5rem;
}
.parrafos{
    font-size: 1rem;
}

