* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

section article {
    background-color: black;
    color: white;
    height: 100px;
    align-content: center;
    text-align: center;
}

section .caja1 {
    width: calc(100% - 10px);
}

section .caja2 {
    width: calc(30% - 10px);
}
section .caja3 {
    width: calc(70% - 10px);
}
section .caja4 {
    width: calc(100% - 10px);
}