body {
    background-color: antiquewhite;
}
.cuadrado{
    width: 300px;
    height: 300px;
    background-color: blue;
}
.cuadrado2{
    background-color: rgb(168, 104, 25);
    width: 600px;
    height: 700px;
    background-image: url();

}