@import url("../reset_css/reset_erick.css");
 body {
    background-color: white;
 }

 .nav {
    width: 400px; 
    height: 300px; 
    overflow: hidden; 
    border: 1px solid #040202; 
}



.imagen {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.alredy {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 25px;
    color: black;
  }
  .sign-in {
    position: absolute;
    right: 95px;
    top: 50px;
    font-size: 20px;
    color: #007bff;
    text-decoration: none;
  }