*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    padding: 20px;
}

.columnas{
    flex: 1 1 200px;
    min-width: 150px;
    height: auto;
    background-color: cadetblue;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.filas{
    display: flex;
    flex: 1;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}