<p class="btn btn-danger m-2 p-4 alert-dark">Cara de mono</p>

<header class="bg-dark text-white text-center py-2 border-bottom border-4 border-danger shadow">
    <h1>Control de stock</h1>
</header>
<main>
<section class="container">
    <div class="row g-2">
         <div class="col-12 col-md-4">
            <app-form-product></app-form-product>
         </div>
         <div class="col-12 col-md-8">
            <app-products-list></app-products-list>
         </div>
         <div class="col-12">
            <app-total> </app-total>
         </div>
    </div>
</section>

</main>
<footer class="bg-dark text-white text-center p-1 fixed-bottom">
    copyrigth&copy; 2025
</footer>
   