<p>menu-tabs works!</p>

<div class="tabs">
<ul>
    <li [class.activo]="currentCity==='london'"(click)="cambiarCiudad('london')">London</li>
    <li [class.activo]="currentCity==='paris'"(click)="cambiarCiudad('paris')">Paris</li>
    <li [class.activo]="currentCity==='tokyo'"(click)="cambiarCiudad('tokyo')">Tokyo</li>
</ul>
@if(currentCity === 'london'){
    <section>
        <h2>London</h2>
        <p>London is the capital city of England.</p>
    </section>}
@else if(currentCity === 'paris'){
    <section>
        <h2>Paris</h2>
        <p>Paris is the capital of France.</p>
    </section>}
 @else if (currentCity === 'tokyo') {
    <section>
        <h2>Tokyo</h2>
        <p>Tokyo is the capital of Japan.</p>
    </section>}
</div>
