.cuadrado {
    width: 240px;
    height: 200px;
    background-color: aquamarine;
}


.cuadrado2 {
    width: 440px;
    height: 400px;
    background-color: rgb(127, 163, 255);
}

.cuadrado3 {
    width: 640px;
    height: 600px;
    background-image: url(../../1-html/4_imagenes/images/header_baloncesto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cuadrado4 {
    width: 640px;
    height: 600px;
    background-image: url(../../1-html/4_imagenes/images/header_baloncesto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.img {
    width: 300px;
    height: 300x;
}