<app-cronometro [valorInicial]="2"></app-cronometro>

<app-cronometro [valorInicial]="27"></app-cronometro>
<app-cronometro [valorInicial]="numero"></app-cronometro>
<app-cronometro></app-cronometro>

<hr>
<hr>
<hr>

<app-foto [miFoto]="arrayFotos[0]"></app-foto>
<app-foto [miFoto]="arrayFotos[1]"></app-foto>
<app-foto [miFoto]="arrayFotos[2]"></app-foto>

<hr>
<hr>
<hr>

<!--<div [style.background-color]="color">
<app-boton-color (colorEnviado)="cambiarColor($event)"></app-boton-color>
</div> -->

<hr>
<hr>
<hr>

<app-selector-pais (paisEnviado)="pintarPais($event)"></app-selector-pais>

<app-selector-pais></app-selector-pais>