.cronometro {
  border: 3px solid black;
  width: 150px;
  height: 150px;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  background-color: tomato;

  p {
    font-size: 3rem;
  }
}
