*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header1 {
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
}
nav{
    width: 40%;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 100%;
   
}

li{
    list-style: none;
}