<header></header>
<main>
  <h1>Bienvenido {{nombre}} {{apellido}}</h1>
  <figure>
    <img [src]="url" [title]="'me llamo ' + nombre" [alt]="title">
  </figure>

  <article>
    <h3> {{usuario.nombre}} {{usuario.apellido}}</h3>
<p>Edad: {{usuario.edad}}</p>
<p>E-mail: {{usuario.email}}</p>
  </article>

  <hr>
<h2>comunicacion del Html a Ts</h2>

<button (click)="onclick('emnsaje que tienes que mostar')">Click</button>
<button (click)="onclick('title')">Click</button>
<hr>


<select (change)="capturarJob($event)">
  <option value="">Selecciona una opcion</option>
  <option value="desarrollador">Desarrollador</option>
  <option value="marketing">Marketing</option>
  <option value="desing">Diseño</option>
  <option value="direccion">Direccion</option>
</select>
<p>El puesto de trabajao elegiodo es : <strong>{{job}}</strong></p>


<hr>

<input type="color" (input)="cambiarColor($event)">
<input type="range" min="1"  max="10" value="1" (change)="cambiarNumero($event)">
<div class="caja" [style]="'background-color:' + color">
<span>{{numero}}</span>
</div>






</main>
<footer></footer>

