
<h1>{{formModel.valid}}</h1>




<form [formGroup]="formModel" (ngSubmit)="geetDataForm()">

<div>
    <label class="form-label" for="nombre">Nombre</label>
    <input class="form-control" type="text" name="nombre" id="" formControlName="nombre">
   
     @if(formModel.get('nombre')?.hasError && formModel.get('nombre').touched){
        <p class="error">el campo es obligatorio</p>
    }@if(formModel.get('nombre')?.hasError && formModel.get('nombre').touched){
        <p class="error">el campo es obligatorio</p>
    }

</div>
<div>
    <label class="form-label" for="email">Email</label>
    <input class="form-control" type="text" name="email" id="" formControlName="email">
</div>

<div>
    <label class="form-label" for="edad">Edad</label>
    <input class="form-control" type="number" name="edad" id="" formControlName="edad">
</div>
<div>
    <label class="form-label" for="dni">Dni</label>
    <input class="form-control" type="number" name="dni" id="" formControlName="dni">
</div>
<div>
    <label for="prfesion"></label>
    <select name="" id="">
        <option value="">Selecciona una profesion</option>
        <option value="desarrollador">Desarrollador</option>
        <option value="marketing">Marketing</option>
        <option value="contable">Contable</option>
        <option value="UX-UX">UX-UX</option>
        
    </select>
    
</div>
<div>
    <label class="form-label" for="password">Password</label>
    <input class="form-control" type="password" name="password" id="" formControlName="password">
</div>

<div>
    <input type="submit" [disable]="formModel.invalid" value="Enviar" class="btn btn-primary">
</div>



</form>
